.Titulo1{
	background-color: #9A62A1;
	color: #fff;
	text-align: center; 
	/*font-size: 0.8em;*/ 
	text-shadow:0px 0px 2px #000, 
				0px 0px 2px #000, 
				0px 0px 2px #000, 
				0px 0px 2px #000, 
				0px 0px 2px #000, 
				0px 0px 2px #000; 
}
.tablaprincipal tr th{
	background: #7E2B87;	
}
.tablaprincipal tr td{
	border-color: #9A62A1;
	vertical-align:middle;

}